html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}

/* State colors */
.state-idle {
  background-color: red;
}

.state-recording {
  background-color: #333;
}

.state-menu {
  display: flex;
  flex-direction: column;
}

.state-playing {
  background-color: gray;
}

/* Shape */
#shape {
  width: 100px;
  height: 100px;
}

/* Circle (recording idle) */
.state-idle #shape {
  background-color: red;
  border-radius: 50%;
}

/* Square (recording) */
.state-recording #shape {
  background-color: #111;
}

/* Menu: split sections */
.state-menu > div {
  flex: 1;
  width: 100%;
}

#section-record {
  background-color: red;
}

#section-play {
  background-color: green;
}

#section-save {
  background-color: black;
}

#section-play.playing {
  background-color: gray;
}
